/* last news */
#news-last-news {

}

/* news detail */
#news-detail-news {

}

/* news archive */
#news-archive-news {

}

/* news showcase */
#news-showcase-news table {
    margin: auto;
}
#news-showcase-news table td {
    padding: 5px;
}
#news-showcase-wrapper-news {
    height: 150px;
    overflow: hidden;
    position: relative;
}

#news-showcase-news .news-showcase-item {
    background: #FFFFFF;
    height: 100%;
    padding: 10px;
    position: absolute;
    width: 755px;
}
#news-showcase-news .news-showcase-sym {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 1px #828282 inset, 0 1px 1px #FFFFFF;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    width: 20px;
}
#news-showcase-news .news-showcase-sym span {
    background: none repeat scroll 0 0 #B84B56;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 1px 2px #000000 inset, 0 1px 1px #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: -20px;
    transition: all 100ms ease 0s;
    width: 20px;
}
#news-showcase-news .news-showcase-sym.on span {
    margin: 0 !important;
}
#news-showcase-news .news-showcase-sym.fwd span {
    margin-left: 20px;
}
#news-showcase-news .news-showcase-sym.rwd span {
    margin-left: -20px;
}
#news-showcase-news .caption {
    background: none repeat scroll 0 0 #544848;
    bottom: 0;
    color: #FFFFFF;
    opacity: 0.9;
    padding: 5px 10px;
    position: absolute;
    width: 430px;
}
#news-showcase-news .caption h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0;
}
#news-showcase-news .caption a:link, #news-showcase-news .caption a:visited {
    color: #DDFD04;
}
#news-showcase-news .caption p {
    font-size: 0.9em;
    line-height: 1.3em;
    margin: 5px 0;
}
